body {
    margin: 0;
}

.wrapper {
    display: grid;
    height: 100vh;
}

.gridSquare {
    margin: 0;
    border: 1px dashed black;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.blackSquare {
    background-color: black;
}
